/*------------------ generics ------------------------*/
body{
	font-family: 'Titillium Web', sans-serif !important;
}
/*------------------ top header ------------------------*/
.headboard {
	background-color: #0066CC;
	color: #ffffff;
	padding: 15px 35px;
	font-size: 20px;
	margin-bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 2;
}
/*------------------ right navbar ------------------------*/
.myNavbar {
	background-color: #8ebeed;
	position: fixed !important;
	top:0;
	bottom: 0;
	z-index: 1;
	padding-top: 80px;
}

.myNavbar::before,
.myNavbar::after {
    display: table;
    content: "";
}

.myNavbar::after {
    clear: both;
}

.nav-link {
	color: #ffffff;
	line-height: 25px;
	font-size: 16px;
}

/*------------------ statistics blocks ------------------------*/
.total {
	margin-top: 50px;
	width: 100%;
}

.titleRepository {
	margin: 10px 0px 10px 0;
	padding: 10px 15px;
	background-color: #8ebeed;
	color: #ffffff;
}

.titleRepository > h5 {
	display: inline-block;
	padding: 5px 10px;
}

.titleRepository > h2 {
	display: inline-block;
}

.eqMargin {
	padding: 0 !important;
	float: left;
}

.floatLine {
	float: left;
}

.block {
	height: auto;
	margin-top: 5px !important;
}

.txtGraph{
	height: 200px;
	background-color: #0066CC;
	float: left;
	margin-top: 5px;
}

.txtGraph2 {
	margin-top: 5px;
	border-left: 7px solid #ffffff;
	height: 200px;
	background-color: #8ebeed;
	float: left;
}

.txtGraph p, .txtGraph2 p {
	font-size: 40px;
	font-weight: bold; 
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 20px;
	position: relative;
}

.txtGraph h6, .txtGraph2 h6 {
	font-size: 15px;
	padding-top: 10px;
	border-top: 1px solid #ffffff;
	font-weight: normal; 
	color: #ffffff;
	text-align: center;
}

.imgGraph {
	float: left;	
	margin-top: 5px;
}
.imgGraph > canvas {
	border: 1px solid #0066CC;
	height: 200px !important;
	width: 100% !important;
}

.midCall {
	font-size: 20px !important;
}


/* ------------------------ loading animated glyph ----------------------*/
#loading{
  display: none;
  font-size: 24px;
  position: fixed;
  top: 50vh;
  right: 50%;
  color: #0066CC;
  z-index: 1000;
  background-color: rgba(255,255,255,0.7);
  padding: 5px;
}

#loadingBack{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 900;
	/*display: none;*/
}

#loadingText {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.oi.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}