<!DOCTYPE html>
		<script>
			repos = JSON.parse(decodeURIComponent("{{{reposList}}}"));
			//var repos = "{reposList}";
		</script>
<html lang="IT">
	<head>
		<title>An analytics system for github issues</title>
		<meta charset="utf-8"/>
		<link rel="icon" href="./favicon.ico" />

		<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<!--link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"-->
		<link rel="stylesheet" href="http://www.bootbundle.com/bootbundle/icon-fonts/octicons/octicons.css">
		<link rel="stylesheet" href="./css/style.css">
	</head>
	<body>

		<!-- visible on ajax operation -->
		<div id="loadingBack"></div>
		<div id="loading">
  			<i class="oi oi-loop-circular fast-right-spinner"></i>
  			<span id="loadingText"> Loading...</span>
  		</div>

		<header>
			<!--h1>Github dashboard issues</h1-->
			<nav class="navbar navbar-expand navbar-dark bg-dark">
				<a class="navbar-brand" href="#">
					<svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1" viewBox="0 0 16 16" width="32"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
				</a>
				<ul class="nav justify-content-end">
					<li class="nav-item dropdown">
						<form class="form-inline my-2 my-lg-0">
	      					<input class="form-control mr-sm-2 dropdown-toggle" data-toggle="dropdown" type="search" placeholder="Search" id="exampleDropdownFormEmail1" aria-label="Search">
	      					<div class="dropdown-menu" id="reposList">
								<div>
									<ul id="list">
							    	<!--filled by jquery-->
							    	</ul>
							    </div>
							</div>
    					</form>
					</li>
				</ul>
			</nav>
		</header>
		<div class="container-fluid">
			<div class="row">
				<div class="topbar">
					<div class="titleRepository">
							<svg aria-hidden="true" class="octicon octicon-repo-forked" height="16" version="1.1" viewBox="0 0 10 16" width="10"><path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
							<span id="owner"></span><span> / </span><span id="name"></span><br />
							<span id="parent"></span>
					</div>
					<div class="buttons">
						<div class="btn btn-sm">
							<span class="btn btn-sm btn-topbar-sx">
	  							<svg aria-hidden="true" class="octicon octicon-eye" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
	  							Watchers</span>
							</span>
							<span class="btn btn-sm btn-topbar-dx" id="watchers">
						</div>
						<div class="btn btn-sm">
							<span class="btn btn-sm btn-topbar-sx">
								<svg aria-hidden="true" class="octicon octicon-repo-forked" height="16" version="1.1" viewBox="0 0 10 16" width="10"><path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
	  							Forks
							</span>
							<span class="btn btn-sm btn-topbar-dx" id="forks"></span>
						</div>
						<div class="btn btn-sm">
							<span class="btn btn-sm btn-topbar-sx">
								<svg aria-hidden="true" class="octicon octicon-organization" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4"></path></svg>
	  							Contributors
							</span>
							<span class="btn btn-sm btn-topbar-dx" id="contributors"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="total">
					<div class="col-md-2 ml-md-auto col-lg-12 col-md-12 col-sm-12 myBodyDash">
						<div class="col-lg-8 col-md-12 col-sm-12 eqMargin">
							<div class="block">
								<div class="col-lg-4 col-md-4 col-sm-12 txtGraph">
									<p class="midCall" id="avgFirstTime"></p>
									<h6>tempo medio prima risposta</h6>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-12 imgGraph">
									<canvas id="firstRespChart"></canvas>
								</div>
							</div>
							<div class="block">
								<div class="col-lg-4 col-md-4 col-sm-12 txtGraph">
									<p class="midCall" id="avgCloseTime"></p>
									<h6>tempo medio chiusura ticket</h6>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-12 imgGraph">
									<canvas id="closeChart"></canvas>
								</div>
							</div>
							<div class="block ">
								<div class="col-lg-6 col-md-6 col-sm-12 imgGraph eqMargin">
									<canvas id="evaluateLabelsChart"></canvas>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 imgGraph">
									<canvas id="myDoughnutChart"></canvas>percentuale issue no comment
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-sm-12 floatLine eqMargin">
							<div class="block">
								<div class="col-lg-6 col-md-6 col-sm-12 txtGraph">
									<p id="tOpen"></p>
									<h6>ticket aperti</h6>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 txtGraph2">
									<p id="tClosed"></p>
									<h6>ticket chiusi</h6>
								</div>
							</div>
							<div class="block">
								<div class="col-lg-12 col-md-12 col-sm-12 imgGraph eqMargin">
									<canvas id="avgRespCloseChart"></canvas>
								</div>
							</div>
							<div class="block">
								<div class="col-lg-6 col-md-6 col-sm-12 txtGraph">
									<p id="closedNoComments"></p>
									<h6>issue chiuse senza commento</h6>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 txtGraph2">
									<p id="openNoLabel"></p>
									<h6>issue aperte senza label</h6>
								</div>
							</div>
						</div>
					</div>	
				</div>			
			</div>
		</div>
		<!--js for bootstrap 4-->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" 
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<!--js for chart.js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<!--personal js-->
		<script src="./js/dashboard.js"></script>
	</body>
</html>